body{
    margin: 0;
    padding: 0;
}

li{
    margin: 0;
}

header {
    background-color: #f0f0f0;
    width: 700px;
}

h2{
    text-align: center;
    margin: 0;
    }

.side{
    background-color: aqua;
    width: 200px;
    height: 300px;
    float: left;

}

.container{
    display: flex;
    width: 500px;
    height: 300px;
    background-color: bisque;
    align-items: center;
    justify-content: center;
}

.button{
    position: fixed;
    bottom: 255px;
    right: 600px;
}

footer{
    background-color: blue;
    height: 50px;
    width: 700px;
}